.Burger {
  width: 10%;
  margin: auto;
  height: 150px;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 100px;
    height: 100px;
  }
}
